.statusWrapper{
  background-color:  #850c3080;
  border-radius: 10px;
p{
  font-size: 13px;
  font-family: "Arial Rounded MT Bold";
  font-style:italic ;
  padding-right: 10px;
}
  display: flex;
  align-items: baseline;
}