
.dialog a{
text-decoration: none;
    color: #020202;
}
.dialog .activeLink {
    color: #850c30;
    padding: 10px;

}
.dialog img{
    width: 40px;
    height: 40px;
    border-radius: 30px;

}
.wrapper__dialog{
    align-items: center;
    display: flex;
}
.dialog{
    padding: 10px;
}
