.header {
    grid-column: 1/3;
    grid-row: 1;

    display: flex;
    background-color: rgb(27 64 52 / 8%);
    justify-content: space-between;
    align-items: center;
    img{
        border-radius: 50px;
    }
}

header img {
    max-width: 100px;
}
.headerName{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color:rgb(0, 0, 0);
    h1{
        font-size: 40px;
        font-style: italic;
        font-family: "Agency FB";
        color: #850c30;
    }
  }
.loginBlock{
    float: right;
    display: flex;
    align-items: center;
    button{
      //padding: 5px;
        //max-height: 40px;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
.header_image{
    max-width: 50px;
    max-height: 50px;
}
.headerInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}