.dialogs{
/*display: grid;*/
/*    grid-template-columns: 2fr 10fr;*/

}
.textarea{
    margin-top: 50px;
}
textarea{
    width: 500px;
    height: 100px;
    font-size: 25px;
}
.wrapperDialogs{
    width: 100%;
    margin-bottom: 50px;
    background-color: rgba(12, 53, 133, 0.0784313725);
}